<nav>
    <a href="/">Contact Management</a>
    <ul>
        <li><a href='/'>View Contacts</a></li>
        <li><a href='/add'>Add Contact</a></li>
        <li><a href='/search'>Search Contact</a></li>
    </ul>
</nav>